.appdata/
.dotnet-home/
.nuget-packages/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

backend/attendance.db
backend/.venv/

frontend/node_modules/
frontend/dist/

scanner-helper/bin/
scanner-helper/obj/

_secugen_zip/
WebAPI-JavaScript/
WebAPI-Python/
FDx_SDK_Pro_Windows_v4.3.1_J1.21/

.DS_Store
Thumbs.db
.sgfplib_config.ini
backend/.sgfplib_config.ini
